.hero {
	width: 100%;
	height: $maxHeightBgHero + px;
	max-height: $maxHeightBgHero + px;
	margin-bottom: 100px;
	@include mediaMin(1440) {
		margin-bottom: 154px;
	}
	@include mediaMax(1100) {
		height: auto;
		margin-bottom: 0px;
	}

	background-image: url(../../../img/hero/Bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	// .hero__container
	&__container {
		padding: 154px 0px 0px 0px;
	}
	// .hero__title
	&__title {
		color: var(--Brown, var(--Brown, #814624));
		text-align: center;
		font-size: 4.808rem;
		font-weight: 700;
		line-height: 93.57%; /* 71.985px */
		text-transform: uppercase;
	}
	// .hero__img
	&__img {
		width: 100%;
		height: auto;
		display: block;
		margin: auto;
		object-fit: cover;
	}
}
