.hero {
	width: 100%;
	height: $maxHeightBgHero + px;
	max-height: $maxHeightBgHero + px;

	// background-image: url(../../img/hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&.hero__container {
	}
}
