.argumentation {
	padding: 75px 0px 0px 0px;
	position: relative;
	&::before {
		content: "";
		background-image: url("../img/argumentation/objects.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 1575.342px;
		height: 1076.773px;
		z-index: -1;

		@include mediaMax(1100) {
			display: none;
		}
	}
	// .argumentation__container
	&__container {
		max-width: 936px;
		margin: auto;
		padding: 0px 15px;
	}
	// .argumentation__block
	&__block {
		padding: 2px 0px 0px 0px;
		display: flex;
		justify-content: center;
		// argumentation__block__reply
		&__reply {
			gap: 112px;
			@include mediaMax(767) {
				flex-direction: column;
				gap: 40px;
			}
			> * {
				margin: auto;
			}
		}
	}
	// .argumentation__title
	&__title {
		position: relative;
		color: $Brown;
		font-size: 3.63rem;
		font-weight: 700;
		line-height: 93.57%; /* 54.271px */
		text-transform: uppercase;
		text-align: right;
		margin-top: 0;
		max-width: 294px;
		@include mediaMax(767) {
			text-align: center;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -17px + -74.5px;
			display: block;
			width: 74.5px;
			height: 2px;
			background-color: $Brown;
			margin-top: 12.5px;
			@include mediaMax(767) {
				display: none;
			}
		}
		&__bolder {
			color: inherit;
			font-size: 4.57rem;
		}
		// .argumentation__title__bottom
		&__bottom {
			margin-top: 208px;
			text-transform: uppercase;
			font-size: 3rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			@include mediaMax(1100) {
				margin-top: 40px;
			}
			&-bolder {
				font-size: 9.7rem;
				font-weight: bold;
				@include mediaMax(767) {
					font-size: 5rem;
				}
			}
		}
	}
	// .argumentation__text-block
	&__text-block {
		max-width: 523px;
		font-size: 20px;
		font-weight: 300;
		line-height: normal;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	// .argumentation__sub-title
	&__sub-title {
		line-height: 108.07%; /* 35.663px */
		font-size: 33px;
		font-weight: 700;
		text-transform: uppercase;
	}
	// .argumentation__param
	&__param {
	}
}
.argumentation-icons {
	margin-top: 92px;
	ul {
		display: flex;
		align-items: center;
		text-align: center;
		width: 100%;
		justify-content: space-between;
		@include mediaMax(767) {
			flex-direction: column;
			gap: 40px;
		}
		> * {
			max-width: 217px;
		}
	}
	// .argumentation-icons__img
	&__img {
	}
	// .argumentation-icons__title
	&__title {
		font-size: 2.07rem;
		font-weight: 400;
		margin-top: 16px;
	}
	// .argumentation-icons__text
	&__text {
		font-size: 1.125rem;
		font-weight: 300;
		margin-top: 2px;
	}
}
