.header {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 101;
	font-size: 18px;
	@include mediaMax(1100) {
		top: 0;
	}
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 15px;
		background-color: $whiteColor + fff80;
		border-radius: 32px;
		@include mediaMax(1100) {
			border-radius: 0px;
		}
	}
	&__button-block:last-child {
		justify-content: flex-end;
		@include mediaMax(1100) {
			justify-content: center;
		}
	}
	// .header__button-block
	&__button-block {
		display: flex;
		flex: 0 1 33.333%;
		@include mediaMax(1100) {
			display: none;
		}
	}
	// .header__button
	&__button {
	}
	// .header__nav
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 25px;
		@include mediaMax(1100) {
			display: none;
		}
	}
	// .header__link
	&__link {
	}
	// .header__logo
	&__logo {
		&-mobile {
			display: none;
			@include mediaMax(1100) {
				display: flex;
				img {
					width: 130px;
					height: auto;
				}
			}
		}
	}

	.header__burger {
		display: none;
		.burger-menu {
			z-index: 110;
			cursor: pointer;
		}
		.bar {
			display: block;
			width: 30px;
			height: 3px;
			margin: 5px auto;
			transition: all 0.3s ease-in-out;
			background-color: $Brown;
		}
		.active-burger-menu {
			.bar:nth-child(1) {
				transform: translateY(8px) rotate(45deg);
			}
			.bar:nth-child(2) {
				opacity: 0;
			}
			.bar:nth-child(3) {
				transform: translateY(-8px) rotate(-45deg);
			}
		}
		.menu {
			opacity: 0;
			position: absolute;
			translate: 200%;
			top: 0;
			right: 0;
			z-index: 100;
			height: 50vh;
			width: 50%;
			background-color: $whiteColor + ffff9;
			border-radius: 20px 0px 20px 20px;
			transition: all 0.6s ease 0s;
			padding: 15px;
			&::before {
				content: "";
				position: absolute;
				filter: blur(5px);
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("../../../img/hero/Bg.jpg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: -1;
				border-radius: 20px 0px 20px 20px;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0%;
				left: 0%;
				width: 100%;
				height: 100%;
				background-image: url("../../../img/argumentation/objects.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
				transition: all 1s ease-in 0.3s;
			}

			font-size: 2rem;
			display: flex;
			flex-direction: column;
			gap: 25px;
			align-items: center;
			justify-content: center;
			@include mediaMax(767) {
				width: 100%;
				height: 100vh;
				gap: 40px;
			}
		}
		.active {
			opacity: 1;
			translate: 0;
			&::after {
				opacity: 0;
				animation: fallBreadcrumbs 0.5s ease-in-out forwards;
				animation-delay: 0.2s;
			}
		}
		@keyframes fallBreadcrumbs {
			from {
				opacity: 0;
				transform: translateY(-100%);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
		@include mediaMax(1100) {
			display: flex;
		}
	}
}
